@charset "UTF-8";
/*------Обнуление------*/
@import url(fonts.css);
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*------Обнуление------*/
body {
  background-color: #F8F9FF;
  font-family: Comfortaa; }

.hero__btn {
  width: 406px;
  height: 64px;
  background: -webkit-gradient(linear, left top, right top, from(#EE0979), to(#FF6A00));
  background: -webkit-linear-gradient(left, #EE0979 0%, #FF6A00 100%);
  background: -o-linear-gradient(left, #EE0979 0%, #FF6A00 100%);
  background: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%);
  -webkit-box-shadow: 0px 5px 10px rgba(244, 46, 75, 0.2);
  box-shadow: 0px 5px 10px rgba(244, 46, 75, 0.2);
  border-radius: 15px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 5px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .hero__btn:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 10px -10px 25px 0px rgba(238, 9, 120, 0.3), -10px 10px 25px 0px rgba(255, 106, 0, 0.3);
    box-shadow: 10px -10px 25px 0px rgba(238, 9, 120, 0.3), -10px 10px 25px 0px rgba(255, 106, 0, 0.3); }

.secondary__btn {
  padding: 17px 30px 20px;
  width: 406px;
  height: 64px;
  border: 2px solid #EE0979;
  background: #F8F9FF;
  border-radius: 15px;
  font-family: "Exo 2";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000322;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .secondary__btn:hover {
    border: 2px solid #FF6A00;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 10px -10px 25px 0px rgba(238, 9, 120, 0.3), -10px 10px 25px 0px rgba(255, 106, 0, 0.3);
    box-shadow: 10px -10px 25px 0px rgba(238, 9, 120, 0.3), -10px 10px 25px 0px rgba(255, 106, 0, 0.3); }

.title {
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  margin: 120px 0 60px 0;
  font-size: 36px; }

.container {
  max-width: 1258px;
  margin: 0 auto;
  padding: 0 20px; }

.hero {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .hero a {
    color: #fff; }
  .hero .hero__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    background-color: #000322;
    width: 100%; }
    .hero .hero__content .hero__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-top: 30px;
      margin-bottom: 50px; }
      .hero .hero__content .hero__menu .hero__menu-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 25px; }
        .hero .hero__content .hero__menu .hero__menu-links :last-child {
          margin-right: 0; }
        .hero .hero__content .hero__menu .hero__menu-links a {
          margin-bottom: 15px; }
          .hero .hero__content .hero__menu .hero__menu-links a:last-child {
            margin-bottom: 0px; }
          .hero .hero__content .hero__menu .hero__menu-links a:hover {
            color: #EE0979; }
          .hero .hero__content .hero__menu .hero__menu-links a:active {
            color: #FF6A00; }
    .hero .hero__content .hero__body {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 30px 100px 0; }
      .hero .hero__content .hero__body .hero__body-container .hero__logo {
        margin-bottom: 35px; }
      .hero .hero__content .hero__body .hero__body-container .hero__title {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 140%;
        color: #FFFFFF;
        margin-bottom: 20px; }
      .hero .hero__content .hero__body .hero__body-container .hero__address {
        font-family: Exo;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 23px;
        color: #FFFFFF;
        margin-bottom: 60px;
        font-family: "Exo 2"; }
  .hero .hero__image {
    position: relative; }
    .hero .hero__image .hero__image-phone a {
      position: absolute;
      top: 20px;
      left: 30px;
      display: block;
      color: #FFFFFF;
      font-family: "Exo 2";
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 33px; }
      .hero .hero__image .hero__image-phone a:last-child {
        margin: 40px 0 0 0; }
      .hero .hero__image .hero__image-phone a:hover {
        color: #EE0979; }
      .hero .hero__image .hero__image-phone a:active {
        color: #FF6A00; }
    .hero .hero__image img {
      display: block;
      width: 100%; }

.services {
  margin-bottom: 120px; }
  .services .container .services__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin: 120px 0 60px 0; }
  .services .container .services__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    .services .container .services__row .services__col {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
      flex: 0 1 33.333%;
      margin-right: 30px; }
      .services .container .services__row .services__col:last-child {
        margin-right: 0px; }
      .services .container .services__row .services__col .services__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 30px;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 5px 40px rgba(0, 3, 34, 0.1);
        box-shadow: 0px 5px 40px rgba(0, 3, 34, 0.1);
        border-radius: 15px;
        height: 100%;
        width: 100%; }
        .services .container .services__row .services__col .services__item .item__title {
          font-family: "Exo 2";
          font-weight: 600;
          font-size: 24px;
          line-height: 150%;
          text-align: center;
          margin-bottom: 30px;
          -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto; }
          .services .container .services__row .services__col .services__item .item__title::after {
            content: '';
            display: block;
            max-width: 100%;
            height: 2px;
            background: -webkit-gradient(linear, left top, right top, from(#EE0979), to(#FF6A00));
            background: -webkit-linear-gradient(left, #EE0979 0%, #FF6A00 100%);
            background: -o-linear-gradient(left, #EE0979 0%, #FF6A00 100%);
            background: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%);
            margin: 2px auto; }
        .services .container .services__row .services__col .services__item .item__list {
          margin-bottom: 45px;
          -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
          .services .container .services__row .services__col .services__item .item__list .list__service {
            font-family: "Exo 2";
            font-size: 17px;
            line-height: 150%;
            text-align: center;
            margin-bottom: 10px; }
            .services .container .services__row .services__col .services__item .item__list .list__service:last-child {
              margin-bottom: 0; }
        .services .container .services__row .services__col .services__item .item__price {
          font-weight: bold;
          font-size: 36px;
          line-height: 40px;
          text-align: center;
          -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

@media (min-width: 767px) {
  .hero .hero__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    position: relative; }
    .hero .hero__image img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -o-object-fit: cover;
      object-fit: cover; } }

@media (max-width: 1258px) {
  .hero .hero__content .container .hero__menu {
    display: none; }
  .hero .hero__content .container .hero__body {
    padding: 0; }
  .hero .hero__content .container .hero__body-container {
    padding: 44px 37px 60px 0px; }
  .hero .hero__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%; }
    .hero .hero__image .hero__image-phone {
      position: absolute;
      bottom: 30px;
      right: 0;
      width: 268px;
      height: 118px;
      background: rgba(238, 9, 120, 0.1);
      border-radius: 15% 0 0 15%;
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px); }
  .services .container .services__row .services__col .services__item {
    padding: 15px; }
    .services .container .services__row .services__col .services__item .item__title {
      font-size: 22px; }
    .services .container .services__row .services__col .services__item .item__price {
      font-size: 24px; } }

@media (max-width: 767px) {
  .hero {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .hero .hero__content .container {
      min-width: 320px; }
      .hero .hero__content .container .hero__menu {
        display: none; }
      .hero .hero__content .container .hero__body {
        padding: 0;
        width: 100%;
        text-align: center; }
        .hero .hero__content .container .hero__body .hero__body-container {
          width: 100%;
          padding: 20px 0 40px 0; }
          .hero .hero__content .container .hero__body .hero__body-container .hero__title {
            font-size: 28px;
            display: inline-block;
            width: 100%; }
          .hero .hero__content .container .hero__body .hero__body-container .hero__btn {
            width: 100%;
            font-size: 15px; }
          .hero .hero__content .container .hero__body .hero__body-container .hero__logo {
            -webkit-transform: scale(0.6) translateX(-5%);
            -ms-transform: scale(0.6) translateX(-5%);
            transform: scale(0.6) translateX(-5%); }
          .hero .hero__content .container .hero__body .hero__body-container .hero__address {
            font-size: 15px;
            margin-bottom: 40px;
            display: inline-block;
            width: 100%; }
    .hero .hero__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; }
      .hero .hero__image .hero__image-phone {
        width: 100%;
        border-radius: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100px;
        background: rgba(238, 9, 120, 0.1);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px); }
        .hero .hero__image .hero__image-phone a {
          font-weight: 500;
          font-size: 17px;
          line-height: 25px;
          position: absolute;
          top: 20px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          display: block; }
  .services .container .services__title {
    margin: 60px 0 40px 0; }
  .services .container .services__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .services .container .services__row .services__col {
      margin: 0 0 25px 0; }
      .services .container .services__row .services__col .services__item {
        padding: 25px; }
        .services .container .services__row .services__col .services__item .item__title {
          font-size: 22px; }
        .services .container .services__row .services__col .services__item .item__list .list__service br {
          content: ""; }
        .services .container .services__row .services__col .services__item .item__list .list__service br:after {
          content: "\00a0"; }
        .services .container .services__row .services__col .services__item .item__price {
          font-size: 24px; } }

@media (max-width: 479px) {
  .hero {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .hero .hero__content .container {
      min-width: 320px; }
      .hero .hero__content .container .hero__menu {
        display: none; }
      .hero .hero__content .container .hero__body {
        padding: 0;
        width: 100%; }
        .hero .hero__content .container .hero__body .hero__body-container {
          width: 100%;
          padding: 20px 0 40px 0; }
          .hero .hero__content .container .hero__body .hero__body-container .hero__title {
            font-size: 28px;
            display: inline-block;
            width: 100%; }
          .hero .hero__content .container .hero__body .hero__body-container .hero__btn {
            width: 100%;
            font-size: 15px; }
          .hero .hero__content .container .hero__body .hero__body-container .hero__logo {
            -webkit-transform: scale(0.6) translateX(-5%);
            -ms-transform: scale(0.6) translateX(-5%);
            transform: scale(0.6) translateX(-5%); }
          .hero .hero__content .container .hero__body .hero__body-container .hero__address {
            font-size: 15px;
            margin-bottom: 40px;
            display: inline-block;
            width: 100%; }
    .hero .hero__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; }
      .hero .hero__image .hero__image-phone {
        width: 100%;
        border-radius: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100px;
        background: rgba(238, 9, 120, 0.1);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px); }
        .hero .hero__image .hero__image-phone a {
          font-weight: 500;
          font-size: 17px;
          line-height: 25px;
          position: absolute;
          top: 20px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          display: block; }
  .services {
    margin-bottom: 60px; }
    .services .container .services__title {
      font-size: 28px;
      margin: 60px 0 40px 0; }
    .services .container .services__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .services .container .services__row .services__col {
        margin: 0 0 25px 0; }
        .services .container .services__row .services__col .services__item {
          padding: 20px; }
          .services .container .services__row .services__col .services__item .item__title {
            font-size: 22px; }
            .services .container .services__row .services__col .services__item .item__title br {
              content: ""; }
            .services .container .services__row .services__col .services__item .item__title br:after {
              content: "\000A"; }
          .services .container .services__row .services__col .services__item .item__list {
            margin-bottom: 20px; }
            .services .container .services__row .services__col .services__item .item__list .list__service {
              font-size: 15px; }
          .services .container .services__row .services__col .services__item .item__price {
            font-size: 24px; } }

.our-works {
  text-align: center; }
  .our-works .our-works__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "first second third fourth five"
 "six second third seven five";
    padding: 0 20px;
    margin-bottom: 40px;
    max-width: 100%; }
    .our-works .our-works__row img {
      margin-bottom: 20px; }
      .our-works .our-works__row img:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: first; }
      .our-works .our-works__row img:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 2;
        grid-area: second; }
      .our-works .our-works__row img:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 3;
        grid-area: third; }
      .our-works .our-works__row img:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
        grid-area: fourth; }
      .our-works .our-works__row img:nth-child(5) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 5;
        grid-area: five; }
      .our-works .our-works__row img:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        grid-area: six; }
      .our-works .our-works__row img:nth-child(7) {
        -ms-grid-row: 2;
        -ms-grid-column: 4;
        grid-area: seven; }
      .our-works .our-works__row img:last-child {
        margin-bottom: 0; }
