@import "nullstyle.scss";
@import "fonts.css";

$exo: "Exo 2";
$gra: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%);

body{
	background-color: #F8F9FF;
	font-family: Comfortaa;
}

.hero__btn{
	width: 406px;
	height: 64px;
	background: $gra;
	box-shadow: 0px 5px 10px rgba(244, 46, 75, 0.2);
	border-radius: 15px;
	font-family: $exo;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
	padding-bottom: 5px;
	overflow: hidden;
	transition:all 0.3s ease-in-out;
	&:hover{
		transform: translateY(-5px);
		box-shadow: 10px -10px 25px 0px rgba(238, 9, 120, 0.3), -10px 10px 25px 0px rgba(255, 106, 0, 0.3);
	}
}
.container {
	max-width: 1258px;
	margin: 0 auto;
	padding: 0 20px;
}


.hero{
	overflow: hidden;
	display: flex;
	a{
		color: #fff;
	}
	.hero__content{
		flex: 1 0 100%;
		background-color: #000322;
		width: 100%;
		.hero__menu {
			display: flex;
			flex-direction: row;
			margin-top: 30px;
			margin-bottom: 50px;
			.hero__menu-links {
				display: flex;
				flex-direction: column;
				margin-right: 25px;
				:last-child{
					margin-right: 0;
				}
				a{
					margin-bottom: 15px;
					&:last-child{
						margin-bottom: 0px;
					}
					&:hover{
						color: #EE0979;
					}
					&:active{
						color: #FF6A00;
					}
				}
			}
			
		}
		
		.hero__body {
			width: 50%;
			display: flex;
			flex: 1 0 auto;
			align-items: center;
			padding: 0 30px 100px 0;
			.hero__body-container{
				.hero__logo {
					margin-bottom: 35px;
				}
				.hero__title {
					font-style: normal;
					font-weight: normal;
					font-size: 36px;
					line-height: 140%;
					color: #FFFFFF;
					margin-bottom: 20px;
				}
				.hero__address {
					font-family: Exo;
					font-style: normal;
					font-weight: normal;
					font-size: 17px;
					line-height: 23px;
					color: #FFFFFF;
					margin-bottom: 60px;
					font-family: $exo;
				}
				
			}
			
		}
	}
	.hero__image {
		position: relative;
		.hero__image-phone{
			a {
				position: absolute;
				top: 20px;
				left: 30px;
				display: block;
				color: #FFFFFF;
				font-family: $exo;
				font-style: normal;
				font-weight: 500;
				font-size: 25px;
				line-height: 33px;
				&:last-child{
					margin: 40px 0 0 0;
				}
				&:hover{
					color: #EE0979;
				}
				&:active{
					color: #FF6A00;
				}
			}
		}
		img {
			display: block;
			width: 100%;
		}
		
	}
}



@media (min-width: 767px) {  //медиа чтобы картинка занимала 50% экрана
	.hero{
		.hero__image{
			flex: 0 0 50%;
			transform: translateX(-100%);
			position: relative;
			img{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}
	}
	
}



.services {
	margin-bottom: 120px;
	.container {
		.services__title {
			font-weight: bold;
			font-size: 36px;
			line-height: 40px;
			text-align: center;
			margin: 120px 0 60px 0;
		}
		.services__row {
			display: flex;
			width: 100%;
			.services__col {
				flex: 0 1 33.333%;
				margin-right: 30px;
				&:last-child{
					margin-right: 0px;
				}
				.services__item {
					display: flex;
					flex-direction: column;
					padding: 30px;
					background: #FFFFFF;
					box-shadow: 0px 5px 40px rgba(0, 3, 34, 0.1);
					border-radius: 15px;
					height: 100%;
					width: 100%;
					.item__title {
						font-family: $exo;
						font-weight: 600;
						font-size: 24px;
						line-height: 150%;
						text-align: center;
						margin-bottom: 30px;
						flex: 0 1 auto;
						&::after{
							content: '';
							display: block;
							max-width: 100%;
							height: 2px;
							background: $gra;
							margin: 2px auto;
						}
					}
					.item__list {
						margin-bottom: 45px;
						flex: 1 0 auto;
						.list__service {
							font-family:$exo;
							font-size: 17px;
							line-height: 150%;
							text-align: center;
							margin-bottom: 10px;
							&:last-child{
								margin-bottom: 0;
							}
						}
					}
					.item__price {
						font-weight: bold;
						font-size: 36px;
						line-height: 40px;
						text-align: center;
						flex: 0 1 auto;
					}
				}
			}
		}
	}
}


@media (max-width: 1258px){
	.hero{
		.hero__content{
			.container{
				.hero__menu{
					display: none;
				}
				.hero__body{
					padding: 0;
				}
				.hero__body-container{
					padding: 44px 37px 60px 0px;
				}
			}
		}
		.hero__image{
			flex: 0 0 40%;
			.hero__image-phone{
				position: absolute;
				bottom: 30px;
				right: 0;
				width: 268px;
				height: 118px;
				background: rgba(238, 9, 120, 0.1);
				border-radius: 15% 0 0 15%;
				backdrop-filter: blur(15px);
			}
		}
	}
	.services{
		.container{
			.services__row{
				.services__col{
					.services__item{
						padding: 15px;
						.item__title{
						font-size: 22px;
						
						}
						.item__price{
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}



@media (max-width: 767px){
	.hero{
		flex-wrap: wrap;
		.hero__content{
			.container{
				min-width: 320px;
				.hero__menu{
					display: none;
				}
				.hero__body{
					padding: 0;
					width: 100%;
					text-align: center;
					.hero__body-container{
						width: 100%;
						padding: 20px 0 40px 0;
						.hero__title{
							font-size: 28px;
							display: inline-block;
							width: 100%;
						}
						.hero__btn{
							width: 100%;
							font-size: 15px;
						}
						.hero__logo{
							transform: scale(0.6) translateX(-5%);
						}
						.hero__address{
							font-size: 15px;
							margin-bottom: 40px;
							display: inline-block;
							width: 100%;
						}
					}
				}
			}
		}
		.hero__image{
			flex: 0 0 100%;
			.hero__image-phone{
				width: 100%;
				border-radius: 0;
				position: absolute;
				bottom: 0;
				right: 0;
				height: 100px;
				background: rgba(238, 9, 120, 0.1);
				backdrop-filter: blur(3px);
				a{
					font-weight: 500;
					font-size: 17px;
					line-height: 25px;
					position: absolute;
					top: 20px;
					left: 50%;
					transform: translateX(-50%);
					display: block;
				}
				
			}
		}
	}
	.services{
		.container{
			.services__title{
				margin: 60px 0 40px 0;
			}
			.services__row{
				flex-direction: column;
				.services__col{
					margin: 0 0 25px 0;
					.services__item{
						padding: 25px;
						.item__title{
							font-size: 22px;
							}
						.item__list{
							.list__service{
								br {content: ""}
								br:after {content: "\00a0"}
							}
						}
						.item__price{
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 479px){
	.hero{
		flex-wrap: wrap;
		.hero__content{
			.container{
				min-width: 320px;
				.hero__menu{
					display: none;
				}
				.hero__body{
					padding: 0;
					width: 100%;
					.hero__body-container{
						width: 100%;
						padding: 20px 0 40px 0;
						.hero__title{
							font-size: 28px;
							display: inline-block;
							width: 100%;
						}
						.hero__btn{
							width: 100%;
							font-size: 15px;
						}
						.hero__logo{
							transform: scale(0.6) translateX(-5%);
						}
						.hero__address{
							font-size: 15px;
							margin-bottom: 40px;
							display: inline-block;
							width: 100%;
						}
					}
				}
			}
		}
		.hero__image{
			flex: 0 0 100%;
			.hero__image-phone{
				width: 100%;
				border-radius: 0;
				position: absolute;
				bottom: 0;
				right: 0;
				height: 100px;
				background: rgba(238, 9, 120, 0.1);
				backdrop-filter: blur(3px);
				a{
					font-weight: 500;
					font-size: 17px;
					line-height: 25px;
					position: absolute;
					top: 20px;
					left: 50%;
					transform: translateX(-50%);
					display: block;
				}
				
			}
		}
	}
	.services{
		margin-bottom: 60px;
		.container{
			.services__title{
				font-size: 28px;
				margin: 60px 0 40px 0;
			}
			.services__row{
				flex-direction: column;
				.services__col{
					margin: 0 0 25px 0;
					.services__item{
						padding: 20px;
						.item__title{
							font-size: 22px;
							br {content: ""}
							br:after {content: "\000A"}
						}
						.item__list{
							margin-bottom: 20px;
							.list__service{
								
								font-size: 15px;
							}
						}
						.item__price{
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}
